body{
    background-color: #fffff5;
}

header nav ul li {
list-style-type: none;
color: #bda774;
}
.logo{
    max-width: 25%;
    display: flex;
    justify-content: flex-start;

}
nav{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
